<!-- 
Coco Carragher
Programming Assignment 2
February 27, 2025

This page creates the navbar and links the buttons accross all pages
 -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Coco Profile" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "main", media: "all" %>
  </head>
  <body>
    <nav class="navbar bg-danger">
      <ul class="nav nav-pills mx-auto">
        <li class="nav-item">
          <%= link_to raw('<i class="bi bi-cookie"></i> Home Page'), home_path, class: "nav-link active mx-2", id: "button1" %>
        </li>
        <li class="nav-item">
          <%= link_to raw('<i class="bi bi-journals"></i> About'), about_path, class: "nav-link active mx-2", id: "button2" %>
        </li>
        <li class="nav-item">
          <%= link_to raw('<i class="bi bi-emoji-smile"></i> Portfolio'), portfolio_path, class: "nav-link active mx-2", id: "button3" %>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
